<p id="notice"><%= notice %></p>

<div class="card cardip" style="width:400px"><p>
  <strong>Image:</strong>
  <%= image_tag @profile.image.url, class:"images1" %>
</p>
<p>
  <strong>picture of:</strong>
  <%= @profile.user.First_Name %>
  <%= @profile.user.Second_Name %>
</p>
<p><%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'post', posts_path %></p>
</div>