<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card cont" style="width:400px">
  <div class="card-header bg-white"> <%= image_tag "ins.png" %> Sign up to see photos and videos from your friends.</div>
  <div class="card-body">
  <div class="field">
  <%= form.text_field :Email, placeholder: "email", class:"form-control mb-3" %>
</div>
  <div class="field">
  <%= form.text_field :First_Name,placeholder: "first name", class:"form-control mb-3" %>
</div>

  <div class="field">
    <%= form.text_field :Second_Name,placeholder: "second name", class:"form-control mb-3" %>
  </div>

<div class="field">
  <%= form.password_field :password,placeholder: "password", class:"form-control mb-3" %>
</div>

<div class="field">
  <%= form.password_field :password_confirmation,placeholder: "password confirmation", class:"form-control mb-3" %>
</div>

</div> 
  <div class="card-footer"><div class="actions ">
  <%= form.submit %>
  </div></div>
</div>
<% end %>
