<p id="notice"><%= notice %></p>
<h1>Users</h1>
<% @users.each do |user| %>
    <%= user.First_Name %> <%= user.Second_Name %>
        <%= user.Email %>
        <%= link_to 'Show', user %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
     <% end %>
<br>
<%= link_to 'New User', new_user_path %>



