<div class="container cardip5" >
<div class="row">
<div class="col-sm-2">

<div class="card  mb-3" style="width:500px">
<% @posts.each do |post| %>
  <div class="card-header">
  <%= post.user.First_Name %>
  <%= post.user.Second_Name %>
  </div>
  <div class="card-body"> 
  <%= image_tag post.image.url, class: "images" %>
  <hr>
  <h3><%= link_to '', post, class:"far fa-heart text-dark"  %> </h3>
<% if logged_in? %>
<% if current_user.id == post.user.id %> 
<%= link_to '', edit_post_path(post), class:"fas fa-edit text-dark" %>
<%= link_to '', post, method: :delete, data: { confirm: 'Are you sure?' }, class:" text-dark fas fa-trash-alt" %>
</div>
<% end %>
<% end %>
 
 <div class="card-footer">
 <div class="font-weight-bold">
 <%= post.user.First_Name %>
 <%= post.user.Second_Name %>
 </div>
 <%= post.content %>
 </div>
  </div>
  <%end%>
</div>
<div class="col-sm-2  cardip4" >

<% @profiles.each do |profile| %>
    <% if current_user.id == profile.user.id %>
    <% if profile.present?%>
    <%= image_tag profile.image.url, class: "images1" %> 
    <% end%>
    <% else %>
  <%= link_to 'upload a profile picture', new_profile_path, class:"btn btn-primary" %>
    <%= profile.user.First_Name %>
  <%= profile.user.Second_Name %>
    
    <% end%>
    <%end%>
   </div>
</div>
</div>
















   
   




 



     









