<p id="notice"><%= notice %></p>

<div class="card cardipw" style="width:400px">
<p>
  <%= image_tag @post.image.url, class:"images" %>
</p>
  <div class="card-body">
    <h4 class="card-title">
    <p>
    <strong>posted by:</strong>
    <%= @post.user.First_Name %>
  </p></h4>
    <p class="card-text"><p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p></p>
  </div>
  <% if logged_in? %>
  <% if current_user.id == @post.user.id %> 
  <p >
<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info custom-select-sm" %> 
<%= link_to 'post', posts_path, class: "btn btn-success custom-select-sm" %></p>
<%end%>
<%end%>
</div>
<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Cancel favorite', favorites_path(post_id: @post.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Make it a favorite', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
